@import 'vars';
// * {
//   outline: 1px solid black;  
// }

body {
    background-color: chartreuse; 
    font-family: $mainFontFamily;  
    font-size: $mainFontSize;     
}

ul {
    list-style-type: none;
    padding: 0;
}

.link {
    text-decoration: none;
}

.header__wrapper {
    background-color: rgb(33, 171, 171);

    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: $bigFontSize;
    height: 10vh;
    margin-bottom: 10px;
    border-bottom: 10px;
    border-radius: $mainBorderRadius;
}
.main__wrapper {
    background-color: rgb(87, 65, 161);
    font-size: $mainFontSize;
    border-radius: $mainBorderRadius;
    display: flex;
}
.footer__wrapper {
    background-color: rgb(176, 86, 166);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: $bigFontSize;
    height: 5vh;

    border-radius: $mainBorderRadius;
}

.footer__github{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $mainBorderRadius;

}

.footer__githubOne{
    background: url(../source/img/github1.jpg);
    width: 45%;
    height: 100%;
    border-radius: $mainBorderRadius;
    background-size: contain;
    background-position: bottom;
}
.footer__githubOne:hover{
    cursor: pointer;
    opacity: 0.7;
}

.footer__githubTwo{
    background: url(../source/img/github2.png);
    width: 45%;
    height: 100%;
    border-radius: $mainBorderRadius;
    background-size: contain;
    background-position: bottom;
}
.footer__githubTwo:hover{
    cursor: pointer;
    opacity: 0.7;
}

.footer__school{
    background: url(../source/img/rs_school_js.png);
    width: 70px;
    height: 100%;
    border-radius: $mainBorderRadius;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footer__school:hover{
    cursor: pointer;
    opacity: 0.7;
}

.header__logo_link {
    font-size: $bigFontSize;
    
    text-shadow: 0 0 10px rgb(184 24 24), 0 0 20px red, 0 0 30px red, 0 0 40px rgb(85, 55, 178);
    &::before {
        color:rgb(22, 237, 86);
        font-size: $bigFontSize;
        content: "🛍 "
    }

}

.header__cart_link {
    font-size: $bigFontSize;
}

.header__totalCost{
  font-size: $bigFontSize;
}