.detail__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.wayBlock {
  text-transform: uppercase;
  font-size: $fontSizedDynamicBig;
  font-weight: bold;
  color: $goldColor;
  margin-bottom: 10px;
  margin-top: 10px;
}

.productBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 70vh; 
    border-radius: $mainBorderRadius; 
    margin: 20px;
    overflow: hidden;
}

.productBlock__title {    
    color: rgb(226, 134, 13);
    width: 90vw;
    background-color: $mainTitleColor;
    text-align: center;
    font-size: $fontSizedDynamicBig;
    font-weight: bold;
    margin-bottom: 20px;
}

.productBlock_productBlockMainBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.productBlockMainBlock__pictures {
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 6px;
        color: rgb(201, 191, 191);
    }
    &::-webkit-scrollbar-track {
        background: rgb(217, 210, 210);       
    }
    &::-webkit-scrollbar-thumb {
        background-color: blue;   
        border-radius: 20px;       
        border: 3px solid rgb(207, 199, 185);  
    }
}

.pictures_pic {
    height: 13vh;
    width: 15vw;    
    border-radius: $smallBorderRadius;
    margin: 10px;
    background-size: contain;
    cursor: pointer;
}

img {
    width: 14vw;
    height: 100%;
    border-radius: $smallBorderRadius;    
    margin-top: 10px;
    object-fit: cover;
    background-color: transparent;
}


.productBlockMainBlock__preview {
  display: flex;  
}

.productBlockMainBlock__preview_pic {
    border-radius: $smallBorderRadius;
    width: 30vw;
    height: 20vh;    
    margin: auto 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.productBlockMainBlock__info{
    flex-direction: column;
    width: 30vw;
    overflow: auto;    
}
.productBlockMainBlock__info_card {
    margin: auto 10px;
    margin-top: 20px;
    border-radius: $smallBorderRadius;
    text-align: center;
    font-size: $fontSizedDynamicBig;
    border: $borderMain;
    background-color: rgb(1, 1, 1, 0.4);
}
.productBlockMainBlock__info_cardTitle {
    margin: 0;
    border-radius: $smallBorderRadius;
    text-align: center;
    background-color: bisque;
    font-size: $fontSizedDynamicBig;
}

.productBlockMainBlock__cardData {
    margin: auto 10px;
    color: $goldColor;
}

.productBlockMainBlock__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productBlockMainBlock__price_price {
    color: $goldColor;
    margin-bottom: 1vh;
    font-size: $fontSizedDynamicBig*1.5;
    font-family: $mainFontFamily;
}

.productBlockMainBlock__price_buttonAdd,
.productBlockMainBlock__price_buttonDel,
.productBlockMainBlock__price_buttonBuyNow {
    width: 15vw;
    height: 5vh;
    margin-bottom: 1vh;
    font-size: $fontSizedDynamicBig;
    font-weight: bold;
    font-family: $mainFontFamily;
    background-color: $mainTitleColor;
    border-radius: $mainBorderRadius;
    cursor: pointer;
    &:hover {
        background-color: rgb(149, 159, 148);
    }
}