$mainFontFamily: Arial, sans-serif;
$mainFontSize: 1rem;

$bigFontSize: 2rem;

$fontSizedDynamicBig: 1.5vw;
$fontSizedDynamicMain: 1vw;

$mainBorderRadius: 20px;
$smallBorderRadius: 10px;

$borderMain: 1px solid yellow;

$mainTitleColor: rgb(79, 117, 137);
$cartElementsColor: orange;

$goldColor: rgb(127, 127, 25);


$mainBorderColor: yellow;